* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  display: flex;
  flex-direction: column; 
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1F2937;
  padding: 20px 0;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
  padding-left: 150px;
}

a {
  text-decoration: none;
  color: #F9FAF8;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 24px;
  padding-right: 150px;
  }

.left, .right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.hero {
  display: flex;
  background: #1F2937;
  justify-content: center;
  align-items: center;
  padding: 150px;
  gap: 30px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 60%;
  gap: 8px;
}

.hero-title {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.hero-text {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-button {
  background-color: #3882f6;
  color: #f9faf8;
  width: 100px;
  height: 35px;
  border-radius: 10px;
  font-weight: bolder;
}

.hero-image {
  height: 200px;
  width: 700px;
  background-color: gray;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}
  

.information {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 150px 150px 150px;
  gap: 50px;
}

.info-title {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  padding: 50px;
}

.info-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 35px;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.content {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 3px solid #3882f6;
}

.content-text {
  text-align: center;
  width: 150px;
}

.hero-quote {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  padding: 130px;
}

.quote {
  text-align: justify;
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
  font-weight: lighter;
  padding-left: 150px;
  padding-right: 150px;
}

.author {
  font-size: 20px;
  color: #1F2937;
  font-weight: 900;
  text-align: right;
  padding-right: 150px;
}

.call-to-action-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3882f6;
  color: #f9faf8;
  margin: 100px 160px;
  padding: 80px 160px;
  border-radius: 8px;
}

.call-to-action-title{
  font-weight: bold;
  font-size: 24px;
}

.call-to-action-caption{
  font-weight: lighter;
  font-size: 18px;

}

.call-to-action-button{
  background: #3882f6;
  border-radius: 8px;
  color: #f9faf8;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  flex-grow: 0;
  border: none;
  cursor: pointer;
  padding: 8px 32px;
  border: 2px solid #f9faf8;
}

